@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --color-yellow: #fce02bde;
  --color-yellow-select: #b3a54ade;
  --color-black: #000;
  --color-gray: rgba(37, 37, 37, 0.808);
}
html {
  font-size: 62.5%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: var(--font);

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-image: url(../images/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.initial-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  z-index: 10;
}

.initial-container img {
  position: absolute;
  width: 80%;
  opacity: 0;

  display: initial;

  animation-name: logo;
  animation-duration: 8s;
}
.intro {
  position: absolute;

  display: none;
  bottom: -26rem;
  perspective: 100px;
}

.intro p {
  position: relative;
  color: var(--color-yellow);

  font-weight: 700;

  opacity: 0;

  transform-style: preserve-3d;
  transform: rotateX(12deg);

  animation-name: intro-text;
  animation-delay: 4s;
  animation-duration: 15s;
}

.character-select-container {
  position: absolute;
  width: 80vw;
  max-width: 900px;
  
  height: 80vh;

  border-radius: 2rem;

  z-index: 20;

  opacity: 0;

  background-color: var(--color-gray);
}
.character-select-container .img-logo-container,
#img-logo-victory {
  width: 30rem;
  padding: 6rem 0 2rem;
}
.change-character {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;

  height: 7rem;

  margin-bottom: 6rem;

  background-color: var(--color-yellow);
}
.change-character #last-sword {
  transform: rotateY(160deg);
}

.character-select-container p {
  font-size: 3rem;
  font-weight: 700;
}
.character-container {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 2rem auto 5rem;
}
.square-character div {
  pointer-events: none;
}

.square,
.square-player-win {
  background-color: var(--color-yellow);
}
.square,
.square-character,
.square-player-win {
  width: 150px;
  height: 150px;

  border-radius: 1rem;

  display: inline-block;
  position: relative;
}

.square,
.square-character {
  cursor: pointer;
}

.on {
  background-color: var(--color-yellow-select);
}

.btn-start,
.btn-restart {
  padding: 2rem 3rem;

  font-size: 2.5rem;

  margin-top: 3rem;

  background-color: var(--color-yellow);
  color: var(--color-black);
  font-weight: 700;

  border: none;
  border-radius: 1rem;

  cursor: pointer;
}

.btn-restart {
  display: none;
}

.o,
.x {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 70%;
  height: 70%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.o {
  background-image: url(../images/yoda.png);
}

.x {
  background-image: url(../images/vader.png);
}

.game {
  display: none;
}
#img-logo {
  width: 380px;
  margin: 2rem auto 3rem;
}

.victory-container {
  position: absolute;
  width: 80vw;
  max-width: 900px;

  height: 80vh;

  display: none;
  flex-direction: column;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2rem;

  background-color: var(--color-gray);
}
.victory-container .square-player-win {
  margin: 5rem;
}
.victory-container #win {
  width: 100px;
}

.trofel {
  position: relative;
  margin-top: 5rem;
}
.front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.victory-container input {
  margin-top: 9rem;
}

.front img {
  transform-style: preserve-3d;
  animation: win 5s infinite;
}

@keyframes logo {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 1;
  }
}

@keyframes intro-text {
  from {
    height: 0;
    opacity: 1;
    font-size: 15rem;
  }
  to {
    height: 90vh;
    opacity: 1;
  }
}

@keyframes win {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
